body {
  background-color: rgb(98,8,8);
  color:wheat;
  display: flex;
  flex-direction: column;   
  align-items: center;
  justify-content: space-between;
  text-align: center;
}



.wine-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 1em 10%;
  align-items: center;
  
}

.wine-card{
  width: 300px;
  text-align: center;


}

.wine-card img {
  height: 300px;
  max-width: 70%;

}

button{
  transition: all .5s;
  font-size: 24px;
  color: rgb(98,8,8);
  background-color: wheat;
  border: 0px;
  border-radius: 8px;
  padding: 8px 40px;
}
button:hover{
  color: wheat;
  background-color: rgb(98,8,8);
  border: 2px;
  margin: -2px;

  border-style: double inset;
  border-color: wheat;
  box-sizing: border-box;

}

button:active{
  border-style: inset;
  background-color: hsl(0, 84%, 18%);
  margin: -2px
}

#wine-img{
  border-radius: 3px;
  border: 0px
}

#wine-header{

  color: #FFFFFF;
  background: #333333;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}